<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>HODLINFO</h1>
      <select name="" id="opt1">
        <option value="option1">INR</option>
      </select>
      <select name="" id="opt2">
        <option value="option2">BTC</option>
      </select>
      <button id="opt3">BUY BTC</button>
      <div class="circle"><h5>25</h5></div>
      <button id="opt4">
        <img
          width="24"
          height="24"
          src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/FFFFFF/external-telegram-is-a-cloud-based-instant-messaging-and-voice-over-ip-service-logo-bold-tal-revivo.png"
          alt="external-telegram-is-a-cloud-based-instant-messaging-and-voice-over-ip-service-logo-bold-tal-revivo"
        />
        <h4>Connect Telegram</h4>
      </button>
      <div class="theme-switcher">
        <label class="switch">
          <input type="checkbox" id="themeToggle" />
          <span class="slider"></span>
        </label>
      </div>
    </header>
    <main>
      <h2>Best Price to Trade</h2>
      <div class="rows">
        <div class="name1">
          <h3>0.81%</h3>
        </div>
        <div class="name2">
          <h3>0.98%</h3>
        </div>
        <div class="name3">
          <h3>₹ 25,4578</h3>
        </div>
        <div class="name4">
          <h3>1.58%</h3>
        </div>
        <div class="name5">
          <h3>5.67%</h3>
        </div>
      </div>
      <div class="row1">
        <div class="name1">
          <p class="para1">5 Mins</p>
        </div>
        <div class="name2">
          <p class="para2">2 Hours</p>
        </div>
        <div class="name3">
          <p class="p1">Average BTC/INR net price including commission</p>
        </div>
        <div class="name4">
          <p class="para4">2Days</p>
        </div>
        <div class="name5">
          <p class="para5">5 Days</p>
        </div>
      </div>

      <table class="crypto-table">
        <thead>
          <tr>
            <th>#</th>
            <th>Platform</th>
            <th>Last Traded Price</th>
            <th>Buy / Sell Price</th>
            <th>Difference</th>
            <th>Savings</th>
          </tr>
        </thead>
        <tbody>
          <% let serialNumber = 1; %> <% cryptoData.forEach((crypto) => { %>
          <tr>
            <td><%= serialNumber %></td>
            <td><%= crypto.name %></td>
            <td><%= crypto.last %></td>
            <td><%= crypto.buy %> / <%= crypto.sell %></td>
            <td><%= crypto.volume %></td>
            <td><%= crypto.base_unit %></td>
          </tr>
          <% serialNumber++; %> <% }); %>
        </tbody>
      </table>
    </main>
  </body>
</html>
